[Unit]
Description=Aero Linux boot-time snapshot
Documentation=man:snapper(8)
After=local-fs.target
Before=snapper-timeline.timer
ConditionPathExists=/.snapshots

[Service]
Type=oneshot
ExecStart=/usr/bin/snapper -c root create --description "boot" --cleanup number
ExecStart=/usr/bin/snapper -c home create --description "boot" --cleanup number 2>/dev/null || true